<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :episode_name %>
  </div>

  <div class="field">
    <%= form.label :dept %>
    <%= form.text_field :dept, id: :episode_dept %>
  </div>

  <div class="field">
    <%= form.label :activities %>
    <%= form.text_field :activities, id: :episode_activities %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :episode_destination %>
  </div>

  <div class="field">
    <%= form.label :record_1st %>
    <%= form.text_field :record_1st, id: :episode_record_1st %>
  </div>

  <div class="field">
    <%= form.label :record_2nd %>
    <%= form.text_field :record_2nd, id: :episode_record_2nd %>
  </div>

  <div class="field">
    <%= form.label :record_3rd %>
    <%= form.text_field :record_3rd, id: :episode_record_3rd %>
  </div>

  <div class="field">
    <%= form.label :record_4th %>
    <%= form.text_field :record_4th, id: :episode_record_4th %>
  </div>

  <div class="field">
    <%= form.label :advise %>
    <%= form.text_area :advise, id: :episode_advise %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :episode_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
