<%= form_with(model: univ, local: true) do |form| %>
  <% if univ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(univ.errors.count, "error") %> prohibited this univ from being saved:</h2>

      <ul>
      <% univ.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :univ_name %>
  </div>

  <div class="field">
    <%= form.label :dept %>
    <%= form.text_field :dept, id: :univ_dept %>
  </div>

  <div class="field">
    <%= form.label :admission_method %>
    <%= form.text_field :admission_method, id: :univ_admission_method %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, id: :univ_result %>
  </div>

  <div class="field">
    <%= form.label :exam_info %>
    <%= form.text_area :exam_info, id: :univ_exam_info %>
  </div>

  <div class="field">
    <%= form.label :interview_info %>
    <%= form.text_area :interview_info, id: :univ_interview_info %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
