<p id="notice"><%= notice %></p>

<h1>Univs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dept</th>
      <th>Admission method</th>
      <th>Result</th>
      <th>Exam info</th>
      <th>Interview info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @univs.each do |univ| %>
      <tr>
        <td><%= univ.name %></td>
        <td><%= univ.dept %></td>
        <td><%= univ.admission_method %></td>
        <td><%= univ.result %></td>
        <td><%= univ.exam_info %></td>
        <td><%= univ.interview_info %></td>
        <td><%= link_to 'Show', univ %></td>
        <td><%= link_to 'Edit', edit_univ_path(univ) %></td>
        <td><%= link_to 'Destroy', univ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Univ', new_univ_path %>
